
<div class='row'>
  <div class='span8'>
    <%= form_for([@post, @post.comments.build]) do |f| %>
        <% binding.pry %>
        <% if @post.comments.size > 1 %> 
          <%= render 'shared/error_messages' %>
        <% end %>
        <%= f.label :user_id %>
        <%= f.text_field :user_id %>
     
        <%= f.label :text %>
        <%= f.text_area :text, :size => "60x2" %><br />
   
    
        <%= f.submit "Add comment", class: 'btn btn-primary' %>
    
      <% end %>
  </div>
</div>
