
<div class='row'>
  <div class='span11 offset1'>
  
    <%= form_for([ @post, @comment ]) do |f| %>
        
        <% if @post.comments.size > 0 %> 
          <%= render 'shared/error_messages', object: @comment %>
        <% end %>
     
        <%= f.label :text %>
        <%= f.text_area :text, :size => "60x2" %><br />
   
    
        <%= f.submit class: 'btn btn-large btn-info' %>
    
      <% end %>
  </div>
</div>
