<% provide(:title, @post.title ) %>
<h2><%= @post.title %></h2>
<div class='span11'>
  <%= render :partial => '/posts/vote', :locals => {:post => @post } %>
  <div class='well well-small offset1'>
    <h4 class='media-heading'><%= link_to @post.title, @post.url %><small> by <%= @post.user.username %> on <%= display_datetime(@post.created_at) %></small></h4>
    <p><%= @post.description %></p>

    <%if @post.categories.size > 0 %>
      <ul class='inline'>Post Categories:
        <%= render @post.categories %>
      </ul>
    <% end %>
    <ul class='inline'>
      <% if logged_in? && current_user.id == @post.user_id %>
        <li> <%= link_to 'Edit Post', edit_post_path(@post) %></li>
        <li>|</li>
      <% end  %>
      <li><%= link_to 'Back to Posts', posts_path %></li>
    </ul>
  </div>
  
  <% @post.comments.reload %>
  <%= render @post.comments %>
  
  <% if logged_in? %>
    <div class="clearfix"></div>
    <h4>Add / Edit Comment</h4>
    <%= render '/comments/form' %>
  <% end %> 
</div>