<div class='row'>
  <div class='span8'>
  
    <%= form_for(@category) do |f| %>
        
          <%= render 'shared/error_messages', object: @category %>
     
        <%= f.label :name %>
        <%= f.text_field :name %><br />
   
        <%= f.submit class: 'btn btn-info' %>
      <% end %>
  </div>
</div>
